---
import Layout from '../layouts/Layout.astro';
import GreatingTitle from '../components/GreatingTitle';
import PageHeader from '../components/PageHeader.astro';
import PlaylistItemCard from '../components/PlaylistItemCard.astro';
import { playlists } from '../lib/data';
---

<Layout title="Home">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-context"
    style="min-height:300px;--context-color:#134e4a;"
  >
    <PageHeader />
    <div class="relative z-10 px-6">
      <GreatingTitle client:visible />
      <div
        class="grid sm:grid-cols-2 lg:grid-col-w xl:grid-cols-3 mt-6 gap-y-4 gap-x-6"
      >
        {playlists.map((playlist) => <PlaylistItemCard {playlist} />)}
      </div>
    </div>
    <div
      class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"
    >
    </div>
  </div>
</Layout>
