---
import Layout from '../layouts/Layout.astro';
import GreatingTitle from '../components/GreatingTitle';
---

<Layout title="Home">
  <div class="relative transition-all duration-1000 bg-context"></div>
</Layout>
