---
import { Icon } from 'astro-icon/components';
---

<div class="relative flex justify-between py-4 px-6 z-10">
  <a
    href="/"
    aria-label="Go back to homepage"
    class="bg-zinc-900 rounded-full inline-flex justify-center items-center h-8 w-8"
  >
    <Icon name="bi:chevron-left" class="h-4 w-4 -ml-0.5" />
  </a>
  <div class="flex items-center gap-3">
    <a
      target="_blank"
      aria-label={'github repository'}
      href="https://github.com/igorm84/spotify-astro-transitions"
      class="text-gray-200 hover:text-white"
    >
      <Icon name="mdi:github" class="h-7 w-7" />
    </a>
  </div>
</div>
