---
import PlaylistButton from './PlaylistButton.astro';
import PureInlineArtists from './PureInlineArtists.astro';
import type { Playlist } from '../lib/data';

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
---

<a
  href={`/playlist/${playlist.id}`}
  class="p-4 flex-col items-center relative transition-all duration-300 overflow-hidden gap-5 rounded-md shadow-lg hover:shadow-xl outline-none bg-zinc-500/5 hover:bg-zinc-500/20 focus:bg-zinc-500/20"
>
  <div class="w-40">
    <div class="relative mx-auto h-40 w-full flex-none shadow-lg">
      <img
        src={playlist.cover}
        alt={playlist.title}
        class="object-cover h-full w-full rounded-md shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
      />
    </div>
  </div>
</a>
