---
import type { Playlist } from '../../lib/data';

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
---

<a
  href={`/playlist/${playlist.id}`}
  class="flex relative p-2 overflow-hidden items-center gap-5 rounded-md shadow-lg hover:shadow-xl outline-none hover:bg-zinc-500/10 focus:bg-zinc-500/50"
>
  <div class="h-12 w-12 flex-none">
    <img
      src={playlist.cover}
      alt={playlist.title}
      class="object-cover rounded h-full w-full shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
    />
  </div>
</a>
